.filters-bar
    position: sticky
    top: 0px
    z-index: 4
    background-color: white
    border-bottom: 1px solid #dfdfdf
    padding: 7px 0px
    display: flex
    justify-content: flex-end
.filters-wrapper
    padding: 10px 15px
    justify-content: center
    display: flex
    flex-direction: column

.filters .form-item span
    font-size: 15px
    margin: 0px 10px 0px 0px
