.form
    &-inputs
        display: flex
        flex-direction: row

    .form-control
        padding: 7px 10px
        font-size: 17px

.form-item
    margin: 10px 20px 10px 0px
    flex-direction: column
    display: flex
    width: 100%

    & span
        font-size: 18px
        margin: 0px 10px 0px 0px

    & input
        font-size: 16px
        padding: 7px 5px
        border-radius: 4px
        border: 1px solid #cccccc

    & input:focus
        border: 1px solid black

    & span.required::after
        content: '*'
        color: #ff6d6d

    & .input-comment
        font-size: 14px
        color: #ff4343
