.modal-container
    background-color: rgba(0, 0, 0, 0.3)
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    z-index: 5

.md-modal
    background-color: white
    padding: 50px 100px
    position: relative
    max-height: 75%
    overflow: auto

.buttons
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.close-btn
    cursor: pointer
    font-size: 39px
.modal-header
    display: flex
    justify-content: space-between
    align-items: center
.header
    cursor: pointer
    padding: 10px 0px
    display: flex
    justify-content: space-between
    align-items: center

@media screen and (min-width: 1200px)
.md-modal
    .form-inputs
        min-width: 950px
