.filters-wrapper {
    position: fixed;
    margin: 54px -270px -35px;
    top: 0px;
    width: 240px;
    background-color: #fbfbfb;
    padding: 10px 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.filters .form-item span {
    font-size: 15px;
    margin: 0px 10px 0px 0px;
}