.auth-modal {
    width: 400px;
    background-color: #fff;
    margin: 0px auto;
    position: relative;
    padding: 40px;
    z-index: 3;
}

.other-options {
    margin: 20px 0px;
}

.other-options span {
    cursor: pointer;
    text-decoration: underline;
    color: #005fc1;
    font-weight: 600;
}